---
import { twMerge } from '../../tailwind/tailwind-merge.js';
import type { HTMLAttributes } from 'astro/types';

interface Props extends Omit<HTMLAttributes<'button'>, 'class'> {
  class?: ClassValue;
  label?: string;
  icon?: ClassValue;
}

const {
  class: className,
  'aria-label': ariaLabel,
  label = ariaLabel,
  icon,
  ...props
} = Astro.props;
---

<button
  class={twMerge(className)}
  aria-label={Astro.slots.has('default') || icon ? label : undefined}
  {...props}>
  <slot name='before' />
  <slot>
    {
      icon ? (
        <span
          class={twMerge('bold bg-only', icon)}
          set:html={label}
        />
      ) : (
        <Fragment set:html={label} />
      )
    }
  </slot>
  <slot name='after' />
</button>
