---
import { twMerge } from '../../tailwind/tailwind-merge.js';
import type { HTMLAttributes } from 'astro/types';

interface Props extends Omit<HTMLAttributes<'button'>, 'class'> {
  class?: ClassValue;
  custom?: Record<string, ClassValue>;
  label?: string;
}

const {
  class: className,
  custom = {},
  'aria-label': ariaLabel,
  label = ariaLabel || 'цветовая тема',
  ...props
} = Astro.props;
---

<button
  is='app-theme-toggle'
  class={twMerge('relative', 'outline-none select-none', className)}
  aria-label={label}
  {...props}>
  <span
    class='sr-only'
    set:text={label}
  />
  <span
    class:list={[
      'absolute top-1/2 left-1/2 -translate-1/2',
      'block size-6',
      'dark:opacity-0',
      'duration-300 motion-safe:ready:transition-opacity',
      custom.light
    ]}></span>
  <span
    class:list={[
      'absolute top-1/2 left-1/2 -translate-1/2',
      'block size-6',
      'not-dark:opacity-0',
      'duration-300 motion-safe:ready:transition-opacity',
      custom.dark
    ]}></span>
</button>

<script>
  import AppThemeToggle from './AppThemeToggle.js';

  customElements.define('app-theme-toggle', AppThemeToggle, { extends: 'button' });
</script>
